@font-face {
    font-family: 'dunnu';
    src: url('../assets/fonts/Track-Regular.ttf');
}

@font-face {
    font-family: 'Imbue';
    src: url('../assets/fonts/Rationale-Regular.ttf')
}


body {
    padding: 0;
    margin: 0;
    color: black;
    -webkit-user-select: none;
    -moz-user-select: -moz-none;
    -ms-user-select: none;
    user-select: none;
    background-color: black;

}


/* Hide scrollbar for Chrome, Safari and Opera */
.example::-webkit-scrollbar {
    display: none;
}

#name:hover{
  cursor: pointer;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

#canva {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

#allcontent {
    position: relative;
    z-index: 2;
}

#global-box {

    margin-top: 150px;
    width: 80%;
    max-width: 1400px;
}


/*   Reseaux    */
#gitlogo {
    width: 1.5em;
    filter: invert();
    filter: brightness(0.8);
    margin-right: 0.5em;
}

#linkedinlogo {
    width: 1.5em;
    filter: invert(0.8);
}

/*     -        */

.thumb-info {
    margin-top: -1em;
}

.marginboxx {
    margin-bottom: 1.5em;
    margin-right: -25px;
}

.thumbnail-title {
    margin-top: 1.5em;
    text-transform: capitalize;
    font-family: "Imbue";
    font-size: 1.2em;
}


.tags {
    margin-top: 0.5em;
    font-family: "dunnu";
    font-size: 0.5em;
    color: grey;
}


/*  Img grid  */
.rowm {

    display: -ms-flexbox;
    /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap;
    /* IE10 */
    flex-wrap: wrap;
    padding: 0 4px;
}

/* Create four equal columns that sits next to each other */
.columnm {
    -ms-flex: 50%;
    /* IE10 */
    flex: 33%;
    max-width: 25%;
    padding: 0 6px;
    margin-right: 4px;
}

.car {
    margin-top: 20px;
    margin-bottom: 20px;
    vertical-align: middle;
    width: fit-content;
    transition: 0.3s ease;
}

.car:hover {
    transform: scale(1.05, 1.05);
    transition: 0.3s ease;
}



/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
    .columnm {
        -ms-flex: 50%;
        flex: 50%;
        max-width: 50%;
    }
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .columnm {
        -ms-flex: 100%;
        flex: 100%;
        max-width: 100%;
    }
}

#colorMode {
    position: fixed;
    background-color: white;
    top: 48px;
    right: 20px;
    width: 25px;
    height: 25px;
}

#projectCanva {
    margin-top: 2em;
}

.title-info {
    font-weight: bold;
    font-family: "Imbue";
    font-size: 1.2em;
}

.text-info {
    font-size: 1em;
    color: rgb(204, 204, 204);
}

/* Scroll bar */
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: rgb(0, 0, 0);
    border-radius: 1px;
}

/* -----  image grid for project   -----  */

.rowig {
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
    padding: -1 4px;
  }

.columnig {
    -ms-flex: 50%;
    /* IE10 */
    flex: 33%;
    max-width: 30%;
    padding: -1 6px;
    margin-right: 4px;

}

.columnig img{
    transition: 0.3s ease;
}


  @media screen and (max-width: 800px) {
    .columnig {
        -ms-flex: 50%;
        /* IE10 */
        flex: 33%;
        max-width: 30%;
        padding: 0 6px;
        margin-right: 4px;
    }
    
  }

  @media screen and (max-width: 600px) {
    .columnig {
      -ms-flex: 100%;
      flex: 100%;
      max-width: 100%;
    }
  }

  .columnig img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }

 /*  bouton lien projet  */
 
 #linkBttn, #githubtn{
   border: 1.7px rgb(0, 0, 0) solid;
   background: transparent;
   padding: 0.5em;
   width: 10em;
   transition: 0.3s ease;
   text-decoration-line: none;
   font-family: "dunnu";
   font-size: 0.8em;
 }

 #myImg:hover {opacity: 0.7;}

 /* The Modal (background) */
 .modal {
   display: none; /* Hidden by default */
   position: fixed; /* Stay in place */
   z-index: 6; /* Sit on top */
   padding-top: 100px; /* Location of the box */
   left: 0;
   top: 0;
   width: 100%; /* Full width */
   height: 100%; /* Full height */
   overflow: auto; /* Enable scroll if needed */
   background-color: rgb(0,0,0); /* Fallback color */
   background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
 }
 
 /* Modal Content (image) */
 .modal-content {
   margin: auto;
   display: block;
   width: 80%;
   max-width: 974px;
 }
 
 /* Caption of Modal Image */
 #caption {
   margin: auto;
   display: block;
   width: 80%;
   max-width: 700px;
   text-align: center;
   color: #ccc;
   padding: 10px 0;
   height: 150px;
 }
 
 /* Add Animation */
 .modal-content, #caption {  
   -webkit-animation-name: fadeIn;
   -webkit-animation-duration: 0.4s;
   animation-name: fadeIn;
   animation-duration: 0.4s;
 }
 
 @-webkit-keyframes zoom {
   from {-webkit-transform:scale(0)} 
   to {-webkit-transform:scale(1)}
 }
 
 @keyframes zoom {
   from {transform:scale(0)} 
   to {transform:scale(1)}
 }
 
 /* The Close Button */
 .close {
   position: absolute;
   top: 15px;
   right: 35px;
   color: #f1f1f1;
   font-size: 40px;
   font-weight: bold;
   transition: 0s;
 }
 
 .close:hover,
 .close:focus {
   color: #bbb;
   text-decoration: none;
   cursor: pointer;
 }
 
 /* 100% Image Width on Smaller Screens */
 @media only screen and (max-width: 700px){
   .modal-content {
     width: 100%;
   }
 }


 .speb{
    margin-top: 1em;
    margin-right: 1em;
}